.App {
  font-family: Arial, sans-serif; /* Font yang bersih dan modern */
  text-align: center;
  background-color: #f9f5e9; /* Warna latar belakang yang lembut */
  min-height: 100vh; /* Memastikan tinggi minimum untuk footer di bawah */
}

.App-header {
  background-color: #4b3d3d; /* Warna coklat untuk header */
  padding: 20px;
}

.logo {
  width: 150px; /* Menyesuaikan ukuran logo */
  margin-bottom: 10px; /* Ruang di bawah logo */
}

.nav-list {
  list-style-type: none; /* Menghilangkan bullet points dari list */
  padding: 0;
  display: flex;
  justify-content: center; /* Menyusun menu di tengah */
}

.nav-list li {
  margin: 0 15px; /* Ruang antar item menu */
}

.nav-list li a {
  color: white; /* Warna teks putih untuk link */
  text-decoration: none; /* Menghilangkan garis bawah pada link */
  font-weight: bold; /* Menebalkan teks link */
  transition: color 0.3s; /* Efek transisi untuk hover */
}

.nav-list li a:hover {
  color: #f8b400; /* Warna saat hover */
}

.App-footer {
  background-color: #4b3d3d; /* Warna coklat untuk footer */
  color: white; /* Warna teks putih untuk footer */
  padding: 10px 0;
  position: relative; /* Memastikan footer berada di bawah konten */
  bottom: 0;
  width: 100%;
}
